# defaults: can be overwritten by any page.

# last updated the site.
siteupdated = 2025-07-31

# site title (part of page ${title} probably).
sitetitle = Linus Blog
# prefix site url.
siteurl = https://linus-behrens.de
# site mail used for contact "mail link".
sitemail = mail@linus-behrens.de
# site generator.
sitegenerator = saait (https://git.codemadness.org/saait/file/README.html)

# page

# page language.
lang = en
# author (global default).
author = linusbehrens
# site keywords (global default), don't use too many.
keywords = blog, git, dev-log, life-log
# site description (global default).
description = shared thoughts

# default title.
title =
