table {
	border: 0;
}
table#tablemain {
    width: 100%;
}
main table tr:hover {
    /* border-bottom: 2px solid #ffffff;*/
    background: #aaaaaa55;
    /* box-shadow: inset 0 -2px 0 #ffffff; */
}
table tr td {
	padding: 0.5px 4px 0.5px 0px;
}
table tr {
    transition: border 0.2s ease;
}
.tdtime {
    width: 104px;
}
