:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

.noto-sans-mono-<uniquifier> {
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    font-family: 'Inter', 'Helvetica', sans-serif;
    color: #ddd;
    overflow: visible;
}


a {
    /* text-decoration-style: dotted; */
    text-decoration: none;
}
.mastodon {
    display: none;
}

/* code > span > span > * , code > span > * , code > * { */
/*   background: #ffffff55; */
/*   font-family: 'Noto Sans Mono'; */
/*   font-size: 14px; */
/* } */
code.long {
    background: #ffffff55;
}
code, code > * {
    width: 100%;
    background: none;
    font-family: 'Noto Sans Mono';
    font-size: 16px;
}
code time {
    font-family: 'Inter', sans-serif;
    font-variant-numeric: tabular-nums;
}

code:has(br) {
  display: block;
}
code.long {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li::before {
  content: "- ";
  /* margin-right: 0.5em; */
}

/* body { */
/*   background-color: #111; */
/*   color: #333; */
/*   line-height: 1.5; */
/*   max-width: 45rem; */
/*   padding: 1rem; */
/*   margin: 0 auto; */
/*   overflow: visible; */
/* } */

/* .content { */
/*   margin-bottom: 2rem; */
/* } */

img {
    width: 100%;
}
img.rss {
    width: 16px;
    height: 16px;
}

table#tablemain {
    width: 100%;
}
main table tr:hover {
    /* border-bottom: 2px solid #ffffff;*/
    background: #ffffff55;
    /* box-shadow: inset 0 -2px 0 #ffffff; */
}
table tr td {
	padding: 0.5px 2px 0.5px 2px;
}
table tr {
    transition: border 0.2s ease;
}
.tdtime {
    width: 100px;
}

