table {
  border: 0;
}
table#tablemain {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
main table tr:hover {
  background: #aaaaaa55;
}
table tr td {
  padding: 0.5px 4px 0.5px 0px;
}
table tr {
  transition: border 0.2s ease;
  height: 22px;
}
.tdtime {
  width: 104px;
}
